
body{
    background-color: #494747;
}

section{
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.562);
}

div{
    text-align: center;
    padding: 9px;
    font: normal bold 15px Arial;
}

h1{
    font: bold normal 50px Arial, sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #000;
    font-variant: small-caps;
}

footer{
    color: #fff;
    text-align: center;
    font-style: italic;
}
